BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 6c915d21ab82

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    app_id UUID, 
    user_id UUID, 
    api_key_id UUID, 
    resource_type VARCHAR(50), 
    resource_id VARCHAR(255), 
    metadata JSONB, 
    ip_address VARCHAR(45), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_audit_logs PRIMARY KEY (id)
);

CREATE INDEX ix_audit_logs_app_id_created_at ON audit_logs (app_id, created_at);

CREATE INDEX ix_audit_logs_event_type ON audit_logs (event_type);

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash TEXT, 
    display_name VARCHAR(255), 
    auth_provider VARCHAR(20) DEFAULT 'local' NOT NULL, 
    google_id VARCHAR(255), 
    totp_secret_encrypted TEXT, 
    totp_enabled BOOLEAN NOT NULL, 
    is_verified BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_users PRIMARY KEY (id), 
    CONSTRAINT uq_users_email UNIQUE (email), 
    CONSTRAINT uq_users_google_id UNIQUE (google_id)
);

CREATE TABLE email_verifications (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    otp_hash VARCHAR(255) NOT NULL, 
    is_used BOOLEAN NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_email_verifications PRIMARY KEY (id), 
    CONSTRAINT fk_email_verifications_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE refresh_tokens (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    token_hash VARCHAR(255) NOT NULL, 
    is_revoked BOOLEAN NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_refresh_tokens PRIMARY KEY (id), 
    CONSTRAINT fk_refresh_tokens_user_id_users FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_refresh_tokens_token_hash UNIQUE (token_hash)
);

CREATE TABLE tenant_applications (
    id UUID NOT NULL, 
    owner_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    webhook_url TEXT, 
    webhook_secret_encrypted TEXT, 
    liveness_threshold FLOAT DEFAULT 0.5 NOT NULL, 
    similarity_threshold FLOAT DEFAULT 0.75 NOT NULL, 
    allowed_ips JSONB, 
    status VARCHAR(20) DEFAULT 'active' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_tenant_applications PRIMARY KEY (id), 
    CONSTRAINT fk_tenant_applications_owner_id_users FOREIGN KEY(owner_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE TABLE api_keys (
    id UUID NOT NULL, 
    app_id UUID NOT NULL, 
    key_prefix VARCHAR(12) NOT NULL, 
    key_hash TEXT NOT NULL, 
    label VARCHAR(255), 
    status VARCHAR(20) DEFAULT 'active' NOT NULL, 
    last_used_at TIMESTAMP WITH TIME ZONE, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    CONSTRAINT pk_api_keys PRIMARY KEY (id), 
    CONSTRAINT fk_api_keys_app_id_tenant_applications FOREIGN KEY(app_id) REFERENCES tenant_applications (id) ON DELETE CASCADE
);

CREATE INDEX ix_api_keys_app_id_status ON api_keys (app_id, status);

CREATE INDEX ix_api_keys_key_prefix ON api_keys (key_prefix);

CREATE TABLE auth_sessions (
    id UUID NOT NULL, 
    app_id UUID NOT NULL, 
    session_type VARCHAR(20) NOT NULL, 
    status VARCHAR(20) DEFAULT 'PROCESSING' NOT NULL, 
    external_user_id VARCHAR(255), 
    liveness_class VARCHAR(30), 
    liveness_confidence FLOAT, 
    similarity_score FLOAT, 
    inference_time_ms INTEGER, 
    client_metadata JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    CONSTRAINT pk_auth_sessions PRIMARY KEY (id), 
    CONSTRAINT fk_auth_sessions_app_id_tenant_applications FOREIGN KEY(app_id) REFERENCES tenant_applications (id) ON DELETE CASCADE
);

CREATE INDEX ix_auth_sessions_app_id_created_at ON auth_sessions (app_id, created_at);

CREATE INDEX ix_auth_sessions_app_id_status ON auth_sessions (app_id, status);

CREATE TABLE face_profiles (
    id UUID NOT NULL, 
    app_id UUID NOT NULL, 
    external_user_id VARCHAR(255) NOT NULL, 
    embedding_encrypted BYTEA NOT NULL, 
    model_version VARCHAR(50) DEFAULT 'AntiSpoofNetV4' NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_face_profiles PRIMARY KEY (id), 
    CONSTRAINT fk_face_profiles_app_id_tenant_applications FOREIGN KEY(app_id) REFERENCES tenant_applications (id) ON DELETE CASCADE, 
    CONSTRAINT uq_face_profiles_app_id_external_user_id UNIQUE (app_id, external_user_id)
);

CREATE INDEX ix_face_profiles_app_id_external_user_id ON face_profiles (app_id, external_user_id);

CREATE TABLE webhook_deliveries (
    id UUID NOT NULL, 
    session_id UUID NOT NULL, 
    app_id UUID NOT NULL, 
    status VARCHAR(20) DEFAULT 'PENDING' NOT NULL, 
    attempt_count INTEGER NOT NULL, 
    max_attempts INTEGER NOT NULL, 
    last_status_code INTEGER, 
    last_error TEXT, 
    payload_hash VARCHAR(64), 
    next_retry_at TIMESTAMP WITH TIME ZONE, 
    delivered_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    CONSTRAINT pk_webhook_deliveries PRIMARY KEY (id), 
    CONSTRAINT fk_webhook_deliveries_app_id_tenant_applications FOREIGN KEY(app_id) REFERENCES tenant_applications (id) ON DELETE CASCADE, 
    CONSTRAINT fk_webhook_deliveries_session_id_auth_sessions FOREIGN KEY(session_id) REFERENCES auth_sessions (id) ON DELETE CASCADE
);

CREATE INDEX ix_webhook_deliveries_app_id_created_at ON webhook_deliveries (app_id, created_at);

CREATE INDEX ix_webhook_deliveries_status_next_retry ON webhook_deliveries (status, next_retry_at);

INSERT INTO alembic_version (version_num) VALUES ('6c915d21ab82') RETURNING alembic_version.version_num;

-- Running upgrade 6c915d21ab82 -> c6abc68c896c

CREATE TABLE keepalive_ping (
    id UUID NOT NULL, 
    pinged_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    source VARCHAR(50) DEFAULT 'github-actions' NOT NULL, 
    CONSTRAINT pk_keepalive_ping PRIMARY KEY (id)
);

UPDATE alembic_version SET version_num='c6abc68c896c' WHERE alembic_version.version_num = '6c915d21ab82';

COMMIT;

ALTER TABLE keepalive_ping ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow anonymous pings" ON keepalive_ping FOR INSERT TO anon WITH CHECK (true);
CREATE POLICY "Restrict selection" ON keepalive_ping FOR SELECT TO authenticated USING (true);
